<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ru</key>
	<dict>
		<key>id</key>
		<string>12153</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_CITIES_MOSCOW</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_RUSSIA</string>
		<key>hotelsCount</key>
		<integer>6551</integer>
		<key>latitude</key>
		<real>55.752041</real>
		<key>longitude</key>
		<real>37.617508</real>
	</dict>
	<key>us</key>
	<dict>
		<key>id</key>
		<string>20857</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_CITIES_NEWYORK</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_USA</string>
		<key>hotelsCount</key>
		<integer>9227</integer>
		<key>latitude</key>
		<real>40.75603</real>
		<key>longitude</key>
		<real>-73.98695600000001</real>
	</dict>
	<key>au</key>
	<dict>
		<key>id</key>
		<string>5630</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_CITIES_SYDNEY</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_AUSTRALIA</string>
		<key>hotelsCount</key>
		<integer>958</integer>
		<key>latitude</key>
		<real>-33.86785</real>
		<key>longitude</key>
		<real>151.207323</real>
	</dict>
	<key>ca</key>
	<dict>
		<key>id</key>
		<string>21357</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_CITIES_OTTAWA</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_CANADA</string>
		<key>hotelsCount</key>
		<integer>317</integer>
		<key>latitude</key>
		<real>45.423456</real>
		<key>longitude</key>
		<real>-75.697689</real>
	</dict>
	<key>gb</key>
	<dict>
		<key>id</key>
		<string>7896</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_CITIES_LONDON</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_UK</string>
		<key>hotelsCount</key>
		<integer>2301</integer>
		<key>latitude</key>
		<real>51.500729</real>
		<key>longitude</key>
		<real>-0.124627</real>
	</dict>
	<key>pt</key>
	<dict>
		<key>id</key>
		<string>4806</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_CITIES_LISBON</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_PORTUGAL</string>
		<key>hotelsCount</key>
		<integer>9863</integer>
		<key>latitude</key>
		<real>38.71667</real>
		<key>longitude</key>
		<real>-9.133330000000001</real>
	</dict>
	<key>th</key>
	<dict>
		<key>id</key>
		<string>25949</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_CITIES_BANGKOK</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_THAILAND</string>
		<key>hotelsCount</key>
		<integer>6726</integer>
		<key>latitude</key>
		<real>13.758879</real>
		<key>longitude</key>
		<real>100.497358</real>
	</dict>
	<key>cn</key>
	<dict>
		<key>id</key>
		<string>6679</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_CITIES_BEIJING</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_CHINA</string>
		<key>hotelsCount</key>
		<integer>4863</integer>
		<key>latitude</key>
		<real>39.916322</real>
		<key>longitude</key>
		<real>116.390278</real>
	</dict>
	<key>be</key>
	<dict>
		<key>id</key>
		<string>6202</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_BELARUS</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_CITIES_MINSK</string>
		<key>hotelsCount</key>
		<integer>1349</integer>
		<key>latitude</key>
		<real>53.900052</real>
		<key>longitude</key>
		<real>27.564904</real>
	</dict>
	<key>kz</key>
	<dict>
		<key>id</key>
		<string>1990</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_CITIES_ASTANA</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_KAZAKHSTAN</string>
		<key>hotelsCount</key>
		<integer>544</integer>
		<key>latitude</key>
		<real>51.155881</real>
		<key>longitude</key>
		<real>71.43181800000001</real>
	</dict>
	<key>uk</key>
	<dict>
		<key>id</key>
		<string>6614</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_CITIES_KIEV</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_UKRAINE</string>
		<key>hotelsCount</key>
		<integer>3161</integer>
		<key>latitude</key>
		<real>50.450963</real>
		<key>longitude</key>
		<real>30.522604</real>
	</dict>
	<key>es</key>
	<dict>
		<key>id</key>
		<string>3683</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_CITIES_MADRID</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_SPAIN</string>
		<key>hotelsCount</key>
		<integer>6117</integer>
		<key>latitude</key>
		<real>40.416876</real>
		<key>longitude</key>
		<real>-3.704255</real>
	</dict>
	<key>it</key>
	<dict>
		<key>id</key>
		<string>13559</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_CITIES_ROME</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_ITALY</string>
		<key>hotelsCount</key>
		<integer>22373</integer>
		<key>latitude</key>
		<real>41.890202</real>
		<key>longitude</key>
		<real>12.492214</real>
	</dict>
	<key>de</key>
	<dict>
		<key>id</key>
		<string>9510</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_CITIES_BERLIN</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_GERMANY</string>
		<key>hotelsCount</key>
		<integer>12467</integer>
		<key>latitude</key>
		<real>52.520603</real>
		<key>longitude</key>
		<real>13.408907</real>
	</dict>
	<key>fr</key>
	<dict>
		<key>id</key>
		<string>15542</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_CITIES_PARIS</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_FRANCE</string>
		<key>hotelsCount</key>
		<integer>23553</integer>
		<key>latitude</key>
		<real>48.85634</real>
		<key>longitude</key>
		<real>2.342587</real>
	</dict>
	<key>jp</key>
	<dict>
		<key>id</key>
		<string>25666</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_CITIES_TOKYO</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_JAPAN</string>
		<key>hotelsCount</key>
		<integer>1384</integer>
		<key>latitude</key>
		<real>35.6894875</real>
		<key>longitude</key>
		<real>139.6917064</real>
	</dict>
	<key>kr</key>
	<dict>
		<key>id</key>
		<string>5789</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_CITIES_SEOUL</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_SOUTH_KOREA</string>
		<key>hotelsCount</key>
		<integer>1905</integer>
		<key>latitude</key>
		<real>37.566535</real>
		<key>longitude</key>
		<real>126.9779692</real>
	</dict>
	<key>br</key>
	<dict>
		<key>id</key>
		<string>6337</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_CITIES_BRASILIA</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_BRAZIL</string>
		<key>hotelsCount</key>
		<integer>228</integer>
		<key>latitude</key>
		<real>-15.7801482</real>
		<key>longitude</key>
		<real>-47.9291698</real>
	</dict>
	<key>tw</key>
	<dict>
		<key>id</key>
		<string>5810</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_CITIES_TAIPEI</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_TAIWAN</string>
		<key>hotelsCount</key>
		<integer>852</integer>
		<key>latitude</key>
		<real>25.091075</real>
		<key>longitude</key>
		<real>121.5598345</real>
	</dict>
	<key>hk</key>
	<dict>
		<key>id</key>
		<string>4525</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_CITIES_HK</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_HK</string>
		<key>hotelsCount</key>
		<integer>881</integer>
		<key>latitude</key>
		<real>22.396428</real>
		<key>longitude</key>
		<real>114.109497</real>
	</dict>
	<key>ae</key>
	<dict>
		<key>id</key>
		<string>25495</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_CITIES_DUBAI</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_UAE</string>
		<key>hotelsCount</key>
		<integer>1724</integer>
		<key>latitude</key>
		<real>25.197063</real>
		<key>longitude</key>
		<real>55.274765</real>
	</dict>
	<key>sa</key>
	<dict>
		<key>id</key>
		<string>25495</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_CITIES_DUBAI</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_UAE</string>
		<key>hotelsCount</key>
		<integer>1724</integer>
		<key>latitude</key>
		<real>25.197063</real>
		<key>longitude</key>
		<real>55.274765</real>
	</dict>
	<key>kw</key>
	<dict>
		<key>id</key>
		<string>25495</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_CITIES_DUBAI</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_UAE</string>
		<key>hotelsCount</key>
		<integer>1724</integer>
		<key>latitude</key>
		<real>25.197063</real>
		<key>longitude</key>
		<real>55.274765</real>
	</dict>
	<key>om</key>
	<dict>
		<key>id</key>
		<string>25495</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_CITIES_DUBAI</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_UAE</string>
		<key>hotelsCount</key>
		<integer>1724</integer>
		<key>latitude</key>
		<real>25.197063</real>
		<key>longitude</key>
		<real>55.274765</real>
	</dict>
	<key>qa</key>
	<dict>
		<key>id</key>
		<string>25495</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_CITIES_DUBAI</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_UAE</string>
		<key>hotelsCount</key>
		<integer>1724</integer>
		<key>latitude</key>
		<real>25.197063</real>
		<key>longitude</key>
		<real>55.274765</real>
	</dict>
	<key>eg</key>
	<dict>
		<key>id</key>
		<string>25495</string>
		<key>name</key>
		<string>HL_LOC_DEFAULT_CITIES_DUBAI</string>
		<key>countryName</key>
		<string>HL_LOC_DEFAULT_COUNTRIES_UAE</string>
		<key>hotelsCount</key>
		<integer>1724</integer>
		<key>latitude</key>
		<real>25.197063</real>
		<key>longitude</key>
		<real>55.274765</real>
	</dict>
</dict>
</plist>
